/* small icons */
.typo3-module-menu-item-link .typo3-module-menu-item-title {padding-top: 0;}
.typo3-app-icon {height: 20px;width: 20px;}
.typo3-app-icon img {max-width: 100%;height: auto;width: 100%;}

.typo3-app-icon.typo3-module-menu-group-icon {width: 32px;height: 32px;}
.typo3-module-menu-group-header .typo3-module-menu-group-title {padding-top: 7px;}

/* buttons */
.t3js-splitbutton .btn-default {float: left;display: inline-block;}
.t3js-splitbutton .dropdown-toggle {display: none!important;}
.t3js-splitbutton .dropdown-menu {display: block;min-width: inherit;text-align: center;padding: 0;position: absolute; left: 0; top: -37px;border-color: #bbbbbb;height: 26px;border-radius: 0}
.t3js-splitbutton .dropdown-menu {box-shadow: none;float: none; position: relative; display: inline-block; padding: 0; margin: 0 5px 0 -1px; top: 0;background-color: transparent}
.t3js-splitbutton .dropdown-menu li {display: inline-block;font-size: 0;}
.t3js-splitbutton .dropdown-menu li a {padding: 0 5px;position: relative;top:-2px;}
.t3js-toggle-gridelements-column {margin-top: 0;}


/* hide br in content */
.exampleContent a br {display: none}



/* TYPO 7.x.x */
.modulemenu .modulemenu-group-container .modulemenu-group-title,
.modulemenu .modulemenu-group-container .modulemenu-item-title {padding-top: 0;}
.modulemenu-group-container .modulemenu-icon .t3js-icon {margin:0 0 5px 5px;height: 20px;width: 20px;}
.modulemenu-group-container .modulemenu-icon .t3js-icon img {max-width: 100%;height: auto;width: 100%;}


/* TYPO 8.x.x */
.module-docheader-bar-column-left {}
.module-docheader-bar-column-left a,
.module-docheader-bar-column-left button {border-radius: 2px!important;}
.t3js-splitbutton .dropdown-menu {margin:0 10px;border: 0 none;float: none;}
.t3js-splitbutton .dropdown-menu li {margin-right: -2px;}
.t3js-splitbutton .dropdown-menu li a[data-name="CMD"],
.t3js-splitbutton .dropdown-menu li a[data-name="_savedokview"],
.t3js-splitbutton .dropdown-menu li a[data-name="_savedoknew"],
.t3js-splitbutton .dropdown-menu li a[data-name="_saveandclosedok"] {border-radius:2px;color: #333;background-color: #eee;padding: 5px 5px 3px 5px;display: block;border: 1px solid #bbb;top: 0;left: 0;}
.t3js-splitbutton .dropdown-menu li a[data-name="_savedokview"]:hover,
.t3js-splitbutton .dropdown-menu li a[data-name="_savedoknew"]:hover,
.t3js-splitbutton .dropdown-menu li a[data-name="_saveandclosedok"]:hover {background-color: #d5d4d4;}